<style>

@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }

bg1{
  background-image:    url('https://i.ibb.co/gMvx2Gr/00234b-adobespark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  overflow: hidden;
}
#header-nav{
	height: 50px;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: #a6b2c0;

}
img {
  
  display: block;
  margin-left: auto;
  margin-right: 10px;
}




 body {
  margin: 0; 
  padding: 0;
background-color: #00234b;
}



.resize{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}

.resize:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize2:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize1{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: 10px;
  margin-right: auto;
  position:absolute;
  top:5px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}
.resize2{
  width:80px;
  height: auto;
  vertical-align: top;
  margin-left: 0px;
  margin-right: auto;
  position:absolute;
  top:7px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}

h1,
h2 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: white; }
#contact {
}
  #contact h2 {
    color: white; }

.contact-social-icons p {
  color: white; }
.contact-social-icons ul a {
  color: white;
  list-style: none; }
  .contact-social-icons ul a:hover {
    color: #f0f0e6; }
  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }


.cover.bottom {
    padding: 10% 0 10% 0; 
text-align: center;
} 

.about-tools, .about-last {
  padding: 4% 10% 1% 10%;
  font-size: 1.25em; }
  .about-tools {
    padding-top: 4.375em;
    font-weight: 700;
    font-size: 1.5em; }
    @media screen and (min-width: 992px) {
      .about-tools {
        padding-top: 5.625em; } }
    .about-tools ul:first-child {
      padding-left: 0px; }
    .about-tools ul {
      color: #25b79f;
      list-style: none; }
      .about-tools ul li {
        padding-top: 0.75em; }

</style>
