<style>


bg1{
  background-image:    url('https://i.ibb.co/gMvx2Gr/00234b-adobespark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  overflow: hidden;
}
#header-nav{
	height: 50px;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: #a6b2c0;

}
img {
  
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.footer
{
	position: fixed;
        top: 65.5%;	
	right: 70%;
	 width: 100%;

}


.pixel
{
	max-width: 150px;
	min-width: 100px;
	
	
}
	

 body {
  margin: 0; 
  padding: 0;
background-color: #00234b;
}

.resize{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}

.background
{
	
        max-width: 400px;
	text-align: center;
        margin-left: auto;
        margin-right: auto;
	display: block;
	  text-decoration: none;

    }

    .background:hover {
        background: url("https://i.ibb.co/8xrypLL/hi-use-me-prompted-1.png") no-repeat;
} 
	    
	    
.resize:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize2:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize1{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: 10px;
  margin-right: auto;
  position:absolute;
  top:5px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}
.resize2{
  width:80px;
  height: auto;
  vertical-align: top;
  margin-left: 0px;
  margin-right: auto;
  position:absolute;
  top:7px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container a:hover {
  text-decoration: none;

}

.container a {
  text-decoration-color: black;
}


.email
{
  text-decoration: none;
 font-size: 34px;
 color: black;	
 position: absolute;
 top: 25%;
 left: 49%;
 transform: translate(-50%, -50%);
	  font-family: 'Orbitron', sans-serif;
}

span{
	color: black;
  text-decoration: none;
	  font-family: 'Orbitron', sans-serif;
}

.header{
	width: 40%;
	max-width: 450px;
	min-width: 270px;
	display: block;
	text-align: center;
        margin-left: auto;
        margin-right: auto;
       }

h2 {
 top: 10%;

}

p{
	text-decoration: none;
	text-align: center;
        margin-left: auto;
        margin-right: auto;
}

#contact {
}

  #contact h2 {
    color: white;
}

.contact-social-icons p {
  color: white; 
}

.contact-social-icons p :hover {
      padding-right: 20px;
	
 }


.contact-social-icons ul a {
        color: white;
        list-style: none; }

  .contact-social-icons ul a:hover {
    color: #f0f0e6;
                                   }

  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }


.cover.bottom {
	top:10%;
        padding: 10% 0 10% 0; 
        text-align: center;
              } 


</style>
