* {
  margin: 0; 
  padding: 0;}
h1 {
  text-align: center;
}

.responsive:hover {
  background-color: yellow;
}

.bg{
   background-image: url('https://i.ibb.co/PGkzd3Q/HOME.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  overflow: hidden;

}
img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive1{
  width:800px;
  height: auto;
 
}

.responsive{
  width:350px;
  height: auto;
}

@media screen and (max-width:600px)
{
  .bg {
 background: 00234b;
 background-image:      url('https://i.ibb.co/LQssQG3/Web-1920-4.png');
   background-repeat: no-repeat;
   height: 100vh; 
   background-position: bottom;
   overflow: hidden;   
  }
  
 .responsive1{
  width:410px;
  height: auto;
}
  .responsive{
  width:230px;
  height: auto;
}
  
  
}

@media screen and (min-width: 601px) and (max-width:1000px) {
 .bg {
 background-image:      url('https://i.ibb.co/8zSWLLv/Web-1920-1.png');
 background-repeat: no-repeat;
 background-size: cover;
  }
  .responsive1{
  width:600px;
  height: auto;
}
  .responsive{
  width:265px;
  height: auto;
}
} 



@media screen and (min-width: 1001px) and (max-width: 1200px) {
 .bg {
 background-image:      url('https://i.ibb.co/7CMNpmr/Web-1280-2.png');
 background-repeat: no-repeat;
 background-size: cover;
  }
  .responsive1{
  width:700px;
  height: auto;
}
  .responsive{
  width:300px;
  height: auto;
}
}





<style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0;
        right: 0px;
        width:100%
        max-width: 170px;
        height: auto; 
    }

  </style>
