<style >

.bg1 {
    background-image: url('https://i.ibb.co/gMvx2Gr/00234b-adobespark.png');
    background-size: cover;
   
}
html {
    margin: auto;
    overflow-y : scroll;
}

#header-nav {
    height: 50px;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    background: #a6b2c0;
}

.resizy {
    width: 400px;
    position: relative; 
  
}

.image{
    position:absolute;
    width:230px;
    top: 55px;
    left: 60px;

}

.box {
    width: 60%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    width: 40%;
    max-width: 350px;
    min-width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

.assign {
    position: absolute;
    width: 70px;
}

.left {
    margin-left: 15px;
}

.top {
    top: 5px;
    position: absolute;
}





img {
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00234b;
}

.resize5{
  width:35px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 60px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}


.resize{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}

.resize:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize2:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize5:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize1{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: 10px;
  margin-right: auto;
  position:absolute;
  top:5px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}
.resize2{
  width:80px;
  height: auto;
  vertical-align: top;
  margin-left: 0px;
  margin-right: auto;
  position:absolute;
  top:7px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}

@media screen and (min-width: 801px) {

    .title {
        width: 40%;
        max-width: 415px;
        min-width: 330px;
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
    }







   
}

@media screen and (max-width: 860px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9%;
    }

    .assign {
        position: absolute;
        margin-left: 25px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 210px;
        top: 55px;
        left: 65px;
    }
}


@media screen and (max-width: 800px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }


    .image {
        position: absolute;
        width: 210px;
        top: 55px;
        left: 60px;
    }
}




@media screen and (max-width: 550px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }

    .assign {
        position: absolute;
        margin-left: 15px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 230px;
        top: 55px;
        left: 50px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17%;
    }

    
}


@media screen and (max-width: 370px) {
    .title {
        width: 40%;
        max-width: 290px;
        min-width: 270px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17%;
    }

    .assign {
        position: absolute;
        margin-left: 35px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 180px;
        top: 55px;
        left: 75px;
    }

}
    </style >
