<style >

.bg1 {
    background-image: url('https://i.ibb.co/gMvx2Gr/00234b-adobespark.png');
    background-size: cover;
   
}
html {
    margin: auto;
    overflow-y : scroll;
}
.arrow:hover {
    opacity: 0.2;
    filter: alpha(opacity=30);
}

.arrow {
    position: absolute;
    justify-content: center;
    margin: auto;
    margin-left: 165px;
    max-width: 100%;
    min-width: 20px;
    animation: blink 1.5s;
    animation-iteration-count: infinite;
}



#header-nav {
    height: 50px;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    background: #a6b2c0;
}

.resizy {
    width: 400px;
    position: relative; 
  
}

.image {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 75px;
    transition-timing-function: ease-in;
    transition-delay: 0.01s;
    transition: transform 2s;
}

.box {
    width: 60%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.boxin {
    position: absolute;
    width: 60%;
    top: 335px;  
    left: 120px;
}

.boxin1 {
    position: absolute;
    width: 60%;
    top: 332px;
    left: 105px;
}

.boxing {
    position: absolute;
    width: 60%;
    left: 120px;
    top: 165px;
    visibility: hidden;
    transition-delay: .01s;
    background-color: yellow;
    padding-right: 1px;
    padding-top: 1px;
    padding-left: 1px;
    width: 86px;
}



.img__wrap:hover .boxing {
    visibility: visible;
    opacity: 1;
}

.boxing:hover .image {
    opacity: 0.2;
    filter: alpha(opacity=30);
}



.image:hover {
    opacity: 0.2;
    filter: alpha(opacity=30);
}

.boxup {
    position: absolute;
    width: 60%;
    left: 120px;
    top: 45px;
}
.topdown{
    top:70px;
}

span {
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
}

.container1 {
    width: 40%;
    max-width: 350px;
    min-width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

.assign {
    position: absolute;
    width: 70px;
}

.left {
    margin-left: 15px;
}

.top {
    top: 5px;
    position: absolute;
}


img {
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00234b;
}

.resize5{
  width:35px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 60px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}


.resize{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}

.resize:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }


.resize2:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize5:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize1{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: 10px;
  margin-right: auto;
  position:absolute;
  top:5px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}
.resize2{
  width:80px;
  height: auto;
  vertical-align: top;
  margin-left: 0px;
  margin-right: auto;
  position:absolute;
  top:7px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}

@media screen and (min-width: 801px) {

    .title {
        width: 40%;
        max-width: 415px;
        min-width: 330px;
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
    }
    .boxin {
        position: absolute;
        width: 60%;
        top: 330px;
        left: 125px;
    }

    .boxup {
        position: absolute;
        width: 60%;
        top: 45px;
        left: 125px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }


    .boxing {
        position: absolute;
        width: 60%;
        left: 130px;
        top: 165px;
        visibility: hidden;
        transition-delay: .01s;
        padding-right: 1px;
        padding-top: 1px;
        padding-left: 1px;
        width: 86px;
        background-color: yellow;
    }

   

}

@media screen and (max-width: 860px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9%;
    }

    .assign {
        position: absolute;
        margin-left: 25px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 200px;
        top: 70px;
        left: 65px;
    }

    .boxin {
        position: absolute;
        width: 60%;
        top: 300px;
        left: 115px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }

    .boxin1 {
        position: absolute;
        width: 60%;
        top: 300px;
        left: 105px;
    }
}

@media screen and (max-width: 800px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }


    .image {
        position: absolute;
        width: 190px;
        top: 70px;
        left: 70px;
    }

    .boxin {
        position: absolute;
        width: 60%;
        top: 300px;
        left: 115px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }

}


@media screen and (max-width: 550px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }

    .assign {
        position: absolute;
        margin-left: 15px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 190px;
        top: 85px;
        left: 70px;
    }

    .boxin {
        position: absolute;
        width: 60%;
        top: 330px;
        left: 115px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }

    .boxin1 {
        position: absolute;
        width: 60%;
        top: 330px;
        left: 105px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        width: 40%;
        max-width: 380px;
        min-width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17%;
    }

    .boxin {
        position: absolute;
        width: 60%;
        top: 330px;
        left: 115px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }
}


@media screen and (max-width: 370px) {
    .title {
        width: 40%;
        max-width: 290px;
        min-width: 270px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17%;
    }

    .assign {
        position: absolute;
        margin-left: 35px;
        width: 70px;
    }

    .image {
        position: absolute;
        width: 170px;
        top: 65px;
        left: 80px;
    }

    .boxin {
        position: absolute;
        width: 60%;
        top: 270px;
        left: 115px;
    }

    span {
        font-size: 14px;
        font-family: 'Orbitron', sans-serif;
    }

    .boxin1 {
        position: absolute;
        width: 60%;
        top: 275px;
        left: 105px;
    }

}
    </style >
