<style>
.bg1{
  background-image:    url('https://i.ibb.co/gMvx2Gr/00234b-adobespark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  overflow: hidden;
}

#header-nav{
	height: 50px;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: #a6b2c0;

}
img {
  
  display: block;
  margin-left: auto;
  margin-right: 10px;
}




 body {
  margin: 0; 
  padding: 0;
background-color: #00234b;
}



.resize{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: auto;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  max-width:100%;
  max-height:199%;
	 background: #a6b2c0;
}

.resize:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize2:hover
    {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }

.resize1{
  width:40px;
  height: auto;
  vertical-align: top;
  margin-left: 10px;
  margin-right: auto;
  position:absolute;
  top:5px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}
.resize2{
  width:80px;
  height: auto;
  vertical-align: top;
  margin-left: 0px;
  margin-right: auto;
  position:absolute;
  top:7px;
  left:0px;
  max-width:100%;
  max-height:199%;
  background: #a6b2c0;
}

.grass
{
        width: 220%;
	max-width: 1400px;
}

.footer
{
	position: fixed;
	top: 93%; 
        width: 100%;
}
</style>
