body {
  background-color: #00234b;}

h1 {

  text-align: center;
 
}

#left{
  float: left;
}
#right{
  float: right;
}

img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resonsive{
  width:100%
  max-width: 300px;
  height: auto;
}


<style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0;
        right: 0px;
        width:100%
        max-width: 170px;
        height: auto;
      
    }

    #content2 {
        position: relative;
    }
    #content2 img {
        position: absolute;
      
        top: -60%;
        right: 40px;
        
    }
    #content4 {
        position: relative;
    }
    #content4 img {
        position: absolute;
      
        top: -350px;
        right: 300px;
        
    }
</style>


