body {
  background-color: #00234b;}

h1 {text-align: center;}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resize {
    width: 400px;
    height: auto;   
              }

.resize2 {
    width: 300px;
  height: auto;}

<style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 170px;
        height: auto;
      
    }



    #content2 {
        position: relative;
    }
    #content2 img {
        position: absolute;
      
        top: -60px;
        right: 40px;
        width: 400px;
        height: auto;
    }
    #content4 {
        position: relative;
    }
    #content4 img {
        position: absolute;
      
        top: -350px;
        right: 300px;
        width: 300px;
        height: auto;
    }
</style>

