* {
  margin: 0; 
  padding: 0;
  background-color: #00234b;
}

.center {
	width: 200;
  height: auto;
	display: flex;
  background-color: #00234b;
	justify-content: center;

}
p {
	font-family: 'Pixeboy', sans-serif;
  font-smooth: never;
	font-size: 45px;
  color: white;
  position: fixed;
  left:49%;
  top: 30%;
  
}

.resize{
  width:400px;
  height: auto;
	align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  max-width:45%;
  max-height:45%;
  top:50%;
  left:40%;
 
}
